<footer class="container-fluid">
  <nav class="container">
    <div class="pad-5">
  <small class="right">
    Starzoku, LLC &copy;2018
  </small>
    <ul style="display: inline-block;">
      <li><%= link_to "About",   '#' %> |&nbsp;</li>
      <li><%= link_to "Contact", '#' %> |&nbsp;</li>
      <li><%= link_to "FAQs", '#' %> |&nbsp;</li>
      <li><%= link_to "Version History", '#' %> |&nbsp;</li>
      <li><%= link_to "Help", '#' %> |&nbsp;</li>
      <li><%= link_to "Privacy Policy", '#' %> |&nbsp;</li>
      <li><%= link_to "Terms of Service", '#' %> |&nbsp;</li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </div>
  </nav>
</footer>
